/* rohini */
.container-fluid {
    /* display: flex;
    justify-content: center; */
    /* padding-left: 2rem; */
    /* text-align: center; */
   
    
   

}




/* john */
.jfooter{
    background-color: rgb(230, 230, 230);
}
.jbottomleft{
    width: 60%;
    display: flex;
    align-items: center;
}
.jsomething{
    height: 50vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
    border-radius: 20px 20px 20px 20px;
}
.jButton{
    border: 2px solid rgb(71, 92, 129);
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    color: rgb(71, 92, 129);
}
.jButton:hover {
    transition: ease 0.3s;
    background-color: rgb(71, 92, 129);
    color: white;
}
.jmiddle{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.jp{
    padding: 0;
    margin: 5%;
    margin-left: 0;
    text-align: left;
}
.jtext{
    width: 50%;
}
.jpng{
    height: 90%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.dropdown{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    width: 10%;
}
.jEU{
    padding: 0;
    margin: 0;
}
#dropdownMenuButton{
    display: flex;
    height: 40px;
    background-color: white;
    color: rgb(71, 72, 73);
}
.dropdown-toggle::after {
    color: rgb(71, 92, 129);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover{
    background-color: rgb(71, 92, 129);
    color: white;
    text-decoration: none;
}
.jinfo{
    display: flex;
    margin-left: 5%;
    width: 80vw;
    padding: 0;
    align-self: center;
    border-bottom: 2px solid white;
}
.jinfo1{
    margin: 5%;
    text-align: left;
}
.jinfo12{
    margin: 5%;
    text-align: left;
    margin-left: 0;
}
.jarrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(71, 92, 129);
    width: 40px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 3%;
    color: white;
}
.theArrowJ{
    display: flex;
    justify-content: right;
}
.theArrowJ :hover{
    transition: ease 0.3s;
    cursor: pointer;
    background-color: white;
    color: rgb(71, 92, 129);
    border: 2px solid rgb(71, 92, 129)
}
.jUL{
    list-style: none;
    padding: 0;
    text-align: left;
    width: 170px;
    margin-top: 15%;
}
.jLI{
    padding: 0;
    margin: 0;
    font-weight: lighter;
}
.jH4{
    display: flex;
    font-weight: lighter;
}
.jfooterbottom{
    width: 80vw;
    display: flex;
    align-items: center;
    margin-left: 5%;
    justify-content: space-between;
    text-align: center;
}
.jbottomleft{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fa{
    background-color: rgb(71, 72, 73);
    height: 20px;
    color: white;
}
.jlogos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.jlogos a {
    display: flex;
    align-items: center;
    align-items: center;
    text-decoration: none; 
    margin: 5%;
} 

/* nita */


.para-container1 {
    display:block;
 margin-left:40px;
     margin-right: 80px;
     margin-top:80px ;
     font-size :28px;
     font-weight: 400;
      text-align:center ;
   font-family: Roboto, sans-serif;
   color: rgb(89, 92, 93);
   box-sizing: border-box;
   align-content: center;
   
}
.para-container1 p{
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
    }

.para-container2 h2{
    display: block;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color:inherit;
    color:#595c5d;
    text-align: center;
    margin-top: 50px;
    gap: 10px 10px;
    align-items: stretch;
    }
    .para-container3{
        display: flex;
        margin-top: 5%;
    }
    .image-container1{
        max-height: fit-content;
        margin-left: 20%;
        max-height:600px ;
        max-width: 600px;
       }
    
    p{ 
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end:0px;
        margin-left:50px ;
        margin-right: 50px;
        margin-right:20% ;
        font-size: larger;

    }

    .para-container7{
        display:flex;
    }
    .para-container5 h2{
text-align: center;
color:#595c5d;
box-sizing: border-box;
    }
    .para-container5{
        margin-top: 50px;

    }
    .para-container6{
        margin-top:40px ;
        margin-bottom:30px ;
    }
    .para-container6 h3{
        color: #595c5d;
       margin-bottom: 17px;
       text-align: center;

    }
    .para-container6 p{
        color: #595c5d;
        font-family: sans-serif;
        margin-top: 10px;
        box-sizing: border-box;
        text-align: center;
        display: block;
        --widgets-spacing: 20px 20px;
        margin-left: 40%;
        margin-right:40% ;

 }
 .para-container7{
    display: flex;

 }
 .para-container7 h3{
    color: #595c5d;
       margin-bottom: 17px;
       text-align: center;
 }
 .para-container7 p{
    display: flex;
    color: #595c5d;
    font-family: sans-serif;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
    display: block;
    --widgets-spacing: 20px 20px;
    margin-left: 40%;
    margin-right:40% ;
 }
 
 
 .para-container8{
    display: flex;
 }
 .div1 h3 {
    margin-left:30%;
    margin-right: 40px;
 }
 .div1 p {
    margin-left:30%;
    color: #595c5d;
 }
 .div2 p {
    margin-right:30% ;
    margin-left: 30%;
    margin-top: 10px;
    color: #595c5d;
 }
 .div2 h3{
    margin-left:30% ;
    margin-top: 20px;
 }



 
 
 









/* anh */
.cards-wrapper {
  display: flex;
  flex-direction: row;
  margin: 5rem 7rem;
}
.card {
  margin: 0 1em;
  width: calc(100% / 3);
  border-radius: 30px;
}
.card-body button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.page2-line {
  width: 140px;
  height: 4px;
  background-color: #007398;
  margin-top: 1rem;
}
.page2 {
  background-color: rgb(230, 230, 230);
}
